<div class="container">
  <div class="image-container">
    <fx-image [data]="laptopServiceImageConfig"></fx-image>
  </div>
  <div class="empty-card-1"></div>
  <div class="empty-card-2"></div>
  <div class="box-container">
    <div class="box">
      <div class="text-container">
        <fx-text [data]="textConfig1"></fx-text>
        <fx-text [data]="textConfig2"></fx-text>
      </div>
      <div class="search-container">
        <fx-input [data]="inputConfig"></fx-input>
        <fx-image [data]="searchButtonImageConfig"></fx-image>
      </div>
    </div>
  </div>
</div>
