.header-view-content {
  width: 1440px;
  height: 80px;
  padding: 0px 120px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #F6F3F3;
}
