<footer>
  <div class="contact-container">
    <fx-image [data]="imageConfig"></fx-image>
    <ul class="list">
      <li class="item">
        <fx-text [data]="locationTextConfig"></fx-text>
      </li>
      <li class="item">
        <fx-text [data]="phoneTextConfig"></fx-text>
      </li>
      <li class="item">
        <fx-text [data]="timerTextConfig"></fx-text>
      </li>
    </ul>
  </div>
  <div class="container">
    <ul class="link-container">
      <li class="title">SERVICES</li>
      <li class="item">
        <fx-link [data]="laptopServiceLinkConfig"></fx-link>
      </li>
      <li class="item">
        <fx-link [data]="computerServiceLinkConfig"></fx-link>
      </li>
      <li class="item">
        <fx-link [data]="electricianServiceLinkConfig"></fx-link>
      </li>
      <li class="item">
        <fx-link [data]="cctvServiceLinkConfig"></fx-link>
      </li>
    </ul>
  </div>
  <div class="container">
    <ul class="link-container">
      <li class="title">QUICK LINK</li>
      <li class="item">
        <fx-link [data]="servicesLinkConfig"></fx-link>
      </li>
      <li class="item">
        <fx-link [data]="aboutUsLinkConfig"></fx-link>
      </li>
      <li class="item">
        <fx-link [data]="contactUsLinkConfig"></fx-link>
      </li>
    </ul>
  </div>
</footer>
