.content {
  background-image: url('/assets/images/computer_repair.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 315px;
  width: 1440px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 128px;
  box-sizing: border-box;
}
