<div class="contact-container">

  <div class="card">

    <fx-text [data]="data.title"></fx-text>

    <fx-text [data]="data.subTitle"></fx-text>

    <fx-input [data]="data.name"></fx-input>

    <fx-input [data]="data.mailId"></fx-input>

    <textarea class="input-description" placeholder="Enter your Suggestions"></textarea>

    <fx-text [data]="data.ratingTitle"></fx-text>

    <div class="rating-container">

      <ng-container *ngFor="let item of data.ratingContent; let i=index">
        <fx-image [data]="item" (event)="onRateUs(i)"></fx-image>
      </ng-container>

    </div>

    <fx-button [data]="data.submit"></fx-button>

  </div>

</div>
