.register-container {
  padding: 140px 120px;
  display: flex;
  justify-content: center;

  .card {
    width: 690px;
    height: 670px;
    padding: 56px;
    box-sizing: border-box;
    border-radius: 15px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;

    .content {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}
