<div class="home-content">
  <div class="title-container">
    <span class="title">OUR SERVICES</span>
    <span class="sub-title">Expert Care for Your Tech and Security Needs.</span>
  </div>
  <div class="service-list">
    <div class="card">
      <div class="container">
        <fx-image [data]="laptopServiceImageConfig"></fx-image>
        <span>Laptop Service</span>
      </div>
      <fx-image [data]="arrowRightImageConfig"></fx-image>
    </div>
    <div class="card">
      <div class="container">
        <fx-image [data]="computerServiceImageConfig"></fx-image>
        <span>Computer Service</span>
      </div>
      <fx-image [data]="arrowRightImageConfig"></fx-image>
    </div>
    <div class="card">
      <div class="container">
        <fx-image [data]="electricianServiceImageConfig"></fx-image>
        <span>Electrician Service</span>
      </div>
      <fx-image [data]="arrowRightImageConfig"></fx-image>
    </div>
    <div class="card">
      <div class="container">
        <fx-image [data]="cctvServiceImageConfig"></fx-image>
        <span>CCTV Service</span>
      </div>
      <fx-image [data]="arrowRightImageConfig"></fx-image>
    </div>
  </div>
</div>
