.footer-view-content {
  height: 320px;
  width: 1440px;
  display: flex;
  gap: 100px;
  background-color: #ffffff;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  padding: 48px 120px;
  box-sizing: border-box;
}
