<div class="container">
  <div class="image-container">
    <fx-image [data]="laptopServiceImageConfig"></fx-image>
  </div>
  <div class="empty-card-1"></div>
  <div class="empty-card-2"></div>
  <div class="box-container">
    <div class="box">
      <div class="text-container">
        <fx-text [data]="textConfigOne"></fx-text>
        <fx-text [data]="textConfigTwo"></fx-text>
      </div>
      <div class="search-container">
        <fx-input [data]="inputConfig" (event)="onFocus()"></fx-input>
        <fx-image [data]="searchButtonImageConfig"></fx-image>
        <fx-search-card-result *ngIf="isSearchFocused" class="search-card"></fx-search-card-result>
      </div>
    </div>
  </div>
</div>
